body {
  background: white;
  font-family: "Kdam Thmor Pro", sans-serif;
  background-image: -moz-linear-gradient(255, 0, 0);
}
.wrapper {
  /* animation: scroll 70s linear infinite; */
  background: url("https://media3.giphy.com/media/uFmH8za4E6M5STIiTu/giphy.gif?cid=ecf05e47ugnef17y824c0zpnnsqt2hjghp5ne45sdab56auc&rid=giphy.gif&ct=g"),
    #edecec;
  /* justify-content: center; */
  align-items: center;
  perspective: 1000px;
  background-size: 115%;

  color: #edecec;
}
/* @keyframes scroll {
  100% {
    background-position: 0px -2000px;
  }
} */
/* .info_body {
  background-color: black;
} */
.info_body {
  background-color: black;
}
.js_img {
  position: relative;
  float: right;
  margin-top: -5%;
  margin-bottom: 1%;
  width: 15em;
  height: 10em;
  z-index: -1;
  border: inset red;
  border-radius: 50%;
}
iframe {
  position: static;
  float: left;
  margin-right: 30%;
  top: 100%;
}
.notes textarea {
  margin-right: 70%;
  color: black;
  width: 100%;
  border: solid #e84d4d;
}
.notes button {
  display: block;
  color: black;
}
.indi_notes {
  list-style-type: none;
}
.tweet {
  position: absolute;
  top: 63%;
  left: 80%;
  float: right;

  z-index: 1;
}
/* .api_img img {
  text-align: center;
  z-index: -1;
  float: left;
} */

.label_text_box {
  position: absolute;
  top: -20%;
}
/* .sub_comment {
  position: absolute;
  top: 100%;
  left: 0%;
} */

.game_res li {
  list-style-type: none;
  text-align: center;
  background-color: black;
  width: 50%;
  margin-left: 24%;
}
.game_res input {
  display: block;
  position: relative;
  width: 3em;
  height: 1.6em;
  margin-bottom: 20px;
  border-radius: 1em;
  background: #000000;
  box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.3);
  cursor: pointer;

  content: "";
  display: block;
  width: 1.2em;
  height: 1.2em;
  border-radius: 1em;
  background: #e84d4d;

  left: 12vw;
  top: 0em;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -webkit-transform: rotate(90deg);
  transform: rotate(0deg);
}
.game_res input {
  position: static;
  float: left;
}
.index_ul {
  text-align: center;
  margin-top: 20%;
}
.index_ul li {
  list-style-type: none;
}

.index_ul p {
  position: relative;
  background-color: white;
  width: 20%;
  left: 40%;
  border: inset thick white;
}
.index_ul p:hover {
  position: relative;
  background-color: white;
  width: 20%;
  left: 40%;
  border: inset thick black;
}
.head {
  border: inset thick white;
  text-align: center;
  margin-top: 15%;
  background-color: #000000;
  opacity: 80%;
}
.log_form {
  text-align: center;
}
.log_form p {
  position: relative;
  color: whitesmoke;
  margin-top: 2%;
  width: 20%;
  left: 40%;
  font-weight: bolder;
  font-size: 18px;
}
.log_form input {
  border: inset thick black;
  margin-top: 2%;
}
.log_btn {
  border: inset thick white;
}
.log_btn:hover {
  border: inset thick black;
}
.log_go_back {
  color: white;
  background-color: black;
  border: inset;
}
.log_go_back:hover {
  color: black;
  background-color: white;
  border: inset;
}

.home_game_head {
  border: inset thick white;
  text-align: center;
  margin: 5% 30% 10% 30%;
  background-color: #000000;
}
.collapsible {
  display: block;
  margin-left: 30%;
  margin-right: 50%;
  width: 40%;
  margin-bottom: 1%;
  border: inset thick white;
}
.collapsible:hover {
  display: block;
  margin-left: 30%;
  margin-right: 50%;
  width: 40%;
  margin-bottom: 1%;
  border: inset thick black;
}
.home_logout {
  color: white;
  background-color: black;
  border: inset;
  margin-top: 2%;
}
.home_logout:hover {
  color: black;
  background-color: white;
  border: inset;
}
.sub_home_and_result {
  border: inset thick;
}
.sub_home_and_result:hover {
  border: inset thick grey;
}
.game_table {
  background-color: whitesmoke;
  width: 100%;
}
.cat_table {
  background-color: whitesmoke;
  width: 100%;
}
.head li {
  list-style-type: none;
}

.head_game_info {
  border: inset thick white;
  text-align: center;
  margin-top: 0%;
  background-color: #000000;
  color: white;
  z-index: 1;
}

.game_info_img {
  text-align: center;
  display: inline;
}
.quick_link_and_imgs a {
  width: 30%;
  color: whitesmoke;
  list-style-type: none;
}

.quick_link_and_imgs li {
  color: whitesmoke;
  list-style-type: none;
}

.logout_info {
  margin-top: 3%;
  color: black;
}
.home_button_info {
  color: black;
}
.favorite_game_res {
  width: 30%;
  width: fit-content;
  margin-left: 0%;
}
/* .summary {
  margin: auto;
} */
.a_res {
  font-size: 30px;
  color: gold;
  margin-bottom: 2%;
}
.flash {
  font-size: 20px;
  margin-top: 1%;
}
.form_head {
  text-align: center;
  margin-top: 1%;
  margin-bottom: 1%;

  width: 25%;
  margin-left: 37%;
}
.form_head button {
  color: black;
  margin-bottom: 1%;
  border: inset thick black;
}
.form_head button:hover {
  color: black;
  margin-bottom: 1%;
  border: inset thick white;
}
