<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
    />
    <link href="https://css.gg/trash.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/static/app.css" />
    <title>Game Info Page</title>
  </head>
  <body class="info_body">
    <link rel="stylesheet" href="/static/app.css" />
    <div class="info_container">
      <div class="save">
        {% for msg in get_flashed_messages()%}
        <p class="alert alert-info">{{msg}}</p>
        {% endfor %}
        <form action="/logout" method="POST" class="logout">
          <button type="submit" class="btn btn-link">logout</button>
        </form>
        <nav>
          <ul class="nav">
            <li><a href="/game-home">Home</a></li>
          </ul>
        </nav>

        <div class="img_container"></div>
        <h1 class="name">{{game.title}}</h1>

        {% for i in img %}
        <img src="https:{{i.url}}" alt="" />
        {% endfor %}

        <p></p>

        <iframe
          width="420"
          height="315"
          src="https://www.youtube.com/embed/{{vid_data[0]['video_id']}}"
          allowfullscreen
        >
        </iframe>
        <div class="comments_div">
          <ul>
            <form action="/game_info/comment/{{game.id}}" method="POST">
              <li><label for="comments">Add comments</label></li>
              <li>
                <textarea
                  name="comments"
                  id="comments"
                  cols="30"
                  rows="5"
                ></textarea>
              </li>
              <li><input type="submit" value="submit" name="comments" /></li>
            </form>
          </ul>

          <ol class="ol_comments">
            <h3>Comments</h3>
            {% for c in comment %}
            <li>{{c.comment}}</li>
            {% endfor %}
          </ol>
        </div>
      </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.js"></script>
    <script src="/static/gameInfo.js"></script>
  </body>
</html>
