{% extends 'base.html' %} {% block title %}Home{% endblock %} {% block content
%}
<div class="container">
  {% for msg in get_flashed_messages()%} {% if msg != 'Logout successful!'%}
  <p class="alert alert-danger">{{msg}}</p>
  {% else %}
  <p class="flash">{{msg}}</p>
  {% endif %} {% endfor %}
  <nav class="index_nav">
    <ul class="index_ul">
      <li><h1>Video Game Extract</h1></li>
      <li>
        <a href="/login"><p>login</p> </a>
      </li>
      <li>
        <a href="/register"><p>signup</p></a>
      </li>
    </ul>
  </nav>
</div>
{% endblock %}
