{% extends 'base.html' %} {% block title %}Sign Up{% endblock %} {% block
content %}
<div class="container">
  <div class="head">
    <h1 class="display-1">Login</h1>
    <p>Log in or sign up <a href="/register">here</a></p>
  </div>
  <div class="log_form">
    <form method="POST">
      {{form.hidden_tag()}} {% for field in form if field.widget.input_type !=
      'hidden' %}

      <p class="login_label">
        {{field.label}} {{field(class_="form-control")}} {% for error in
        field.errors %}
        <span class="form-text text-danger">{{error}}</span>
        {% endfor %}
      </p>
      {% endfor %}

      <button class="log_btn" type="submit">Login</button>
    </form>
    <br />
    <a href="/" class="log_go_back">Go Back</a>
  </div>
</div>

{% endblock %}
