{% extends 'base.html' %} {% block title %}Sign Up{% endblock %} {% block
content %} {% for msg in get_flashed_messages()%}
<p class="alert alert-danger">{{msg}}</p>
{% endfor %}
<div class="container">
  <h1 class="display-1">Sign up</h1>
  <p>Sign up bellow to start creating game lists</p>

  <form method="POST">
    {{form.hidden_tag()}} {% for field in form if field.widget.input_type !=
    'hidden' %}

    <p>
      {{field.label}} {{field(class_="form-control")}} {% for error in
      field.errors %}
      <span class="form-text text-danger">{{error}}</span>
      {% endfor %}
    </p>
    {% endfor %}

    <button class="btn btn-success" type="submit">Sign Up</button>
  </form>
  <a href="/">go back</a>
</div>

<script src="/static/app.js"></script>
{% endblock %}
